<ion-view view-title="Contact">
    <ion-content>
        <div class="item item-body">
            <img class="full-image" src="img/contact.jpg" >
            <h2 style="text-align: center"><strong>If you need help, </br>call us first: </br> United Way: 2-1-1 Or
                </br>
                1.800.543.7709 </br>Hours: Monday - Thursday </br> 1:00 p.m.
                - 4:30p.m.</strong></h2>
            </p>
        </div>

        <ion-list>

            <ion-item  class="item item-text-wrap">
                <div>
                    <h2>Group Residential Housing</h2>
                    <hr>
                    <p>St Louis County Triage Staff </p>
                    <p>(218)726-2199</p>

                     <p>PHHS-TriageTeam@stlouiscountymn.giv </p>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
