<ion-view view-title="Coordinated Entry System">
    <ion-content>

        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/landing.png">
                <p align="center">
                    Thank you for using the housing coordinated entry pre-screen. You are here because you are either
                    homeless or at risk of being homeless.
                </p>
                <a class="button button-block button-energized" ng-click="load()" href="#/tab/home">Explore</a>
            </div>

        </div>

    </ion-content>

</ion-view>