<ion-view view-title="Tools">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/tools.jpg" >
                <p><strong>

                </strong>
                </p>
            </div>

            <ion-list>

                <ion-item  class="item item-text-wrap">
                    <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                        <hr>
                        <h2>Legal Aid information on housing</h2>
                        <hr>
                        <p>
                            The law offices of Legal Aid Service provide free legal advice and representation to low
                            income people who live in Minnesota. Their goal is to provide representation and legal
                            services to as many clients as possible consistent with the most important needs of Their
                            clients.
                        </p>
                        <h2>Duluth Office</h2>
                        <hr>
                        <p>302 Ordean Bldg </p>
                        <p>424 West Superior Street </p>
                        <p>Duluth Minnesota 55802</p>
                        <p>218 623-8100</p>
                        <p>Toll Free: 855-204-1697</p>
                        <p>Fax:218 726-4804</p>

                        <h2>Virginia Office</h2>
                        <hr>
                        <p>Plaza, Suite 200</p>
                        <p> 820 N. 9th Street</p>
                        <p>Virginia, Minnesota  55792</p>
                        <p>(218) 749-3270 (Voice and TDD)</p>
                        <p> (Potential Clients please use our toll free number:  1-800-886-3270)</p>
                        <p>  Fax:  (218) 749-070</p>

                    </div>

                </ion-item>

                <ion-item  class="item item-text-wrap">
                    <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                        <h2>TENANT LANDLORD CONNECTION</h2>
                        <p>Resources and assistance for tenants and landlords</p>
                        <hr>
                        <p>
                            The mission of TLC is to ensure that stable rental housing exists by educating existing and
                            potential landlords and tenants regarding their respective rights and responsibilities and
                            by mediating disputes between landlords and tenants.</p>
                        <ul>
                            <h3>Our services include:</h3>
                            <li> Ready-to-Rent classes for tenants looking to establish or rebuild a positive rental history.</li>
                            <li>Landlord workshops on fair housing laws, local government rules and requirements, business fundamentals and other common issues.</li>
                            <li>Serving as a community resource on the rights and responsibilities of both tenants and landlords.</li>
                            <li>Mediation services to help resolve tenant/landlord and neighbor to neighbor disputes.</li>
                        </ul>
                        <p>Whether you are a landlord or a tenant, One Roof’s TLC Program can assist you in resolving
                            your rental disputes to avoid costly legal action.The TLC program only serves Minnesota
                            residents, and cannot offer legal advice or promise resolution.
                            The Tenant Landlord Connection is located at One Roof Community Housing, 12 E. Fourth Str., Duluth, MN 55805.
                            To speak with TLC staff about your rental situation, call: 218-727-5372, or email: gmirus@1roofhousing.org
                        </p>
                    </div>

                </ion-item>

                <ion-item  class="item item-text-wrap">
                    <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                        <h2>Grievance procedure</h2>

                           <p>If you need to file a grievance for any reason, please fill out the form below.</p>
                        <hr>
                        <p style="color: #0000fe"><a class="item"  href="#" onclick="window.open('' +
                         'http://localhost/CES/www/img/grievanceform.docx', '_system','location=yes'); return false;">
                            Grievance Form.
                        </a></p>

                    </div>

                </ion-item>


            </ion-list>

        </div>
    </ion-content>
</ion-view>